p{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #7f8eff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;

}
header button{
    width: 3em; 
    height: 3em; 
}
footer{
    background-color: #aab4ff;
}
.profiel {
    background-color: #dee2ff;
}

.profiel div:nth-of-type(2) img{
    width: 30%;
    border-radius: 50%;
    display: flex;
    justify-self: center;

}
.profiel div:nth-of-type(1) button{
    width: 5em;
    height: 2em;
}
.profiel div:nth-of-type(2) button{
    width: 7em;

    
}

.profiel form{
    margin-top: 1em;
    margin-bottom: 1em;

}
.profiel video{
    width: 20em;
}
.profiel img{
    width: 100%;
}
.profiel div:first-of-type{
    display: flex;
    justify-content: space-evenly;
}
.profiel div:nth-of-type(2){
    display: flexbox;
}


