<%- include('./partials/head.ejs') %> 
<body class="error">
    <h1>Error 404</h1>
<img src="../images/hond404.png" alt="">    
<p>Sorry, maar het lijkt erop dat de pagina die je zocht niet gevonden kan worden. Dit kan te wijten zijn aan verschillende redenen, zoals een verbroken link, een verkeerd getypte URL of de pagina is mogelijk verwijderd.Maar geen zorgen! Je kunt nog steeds onze website verkennen om te vinden waar je naar op zoek bent. Gebruik hiervoor de zoekbalk bovenaan de pagina of blader door onze site met behulp van het navigatiemenu.Als je denkt dat er een probleem is met onze site, laat het ons dan weten door contact op te nemen met ons ondersteuningsteam. We zullen ons best doen om eventuele problemen zo snel mogelijk op te lossen.Bedankt voor je geduld en begrip.</p>
</body>