<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body  class="profiel" >
<header>
    <%- include('./partials/head.ejs') %> 
</header>
<main>
    <div>
        <button>terug</button>
        <h3>Goeiemorgen <%= data.userQuery %>!</h3>
        <button>opslaan</button>
    </div>
    <p>Zorg ervoor dat je profiel een duidelijke representatie geeft van wie jij bent.</p>

    <div>
        <img src="images/avatar-117349636cef3cf7cc82133fc871763a.jpg" alt="profielfoto">
        <button>Wijzigen</button>
    </div>

    <video width="400" controls>
    <source src="" type="">
    </video>
    <div>
        <form>
        <label for="Name">Voornaam:</label>
        <input type="text" id="Name" name="Name" placeholder="Dummy first">
        </form>

        <form action="">
        <label for="Name">Achternaam:</label>
        <input type="text" id="Name" name="Name" placeholder="Dummy last">
        </form>

        <form action="">
        <label for="Leeftijd">Leeftijd:</label>
        <input type="month" id="start" name="start"min="1900-03" value="2001-09">
        </form>
    
        <form action="">
        <label for="freeform">Biographie:</label>
        <textarea id="freeform" name="freeform" rows="10" cols="40">
        Aliqua non in ipsum deserunt. Laboris officia minim fugiat quis qui dolore veniam fugiat dolore. Magna anim nulla commodo proident reprehenderit dolor. Nulla eu elit proident cupidatat ex ipsum qui sint laboris cillum voluptate do incididunt.
        </textarea>
        </form>
    </div>

      <img src="images/maps-placeholder.jpeg" alt="profielfoto">
      
<footer>

</footer>
</body>
</html>